# CMS Configuration (optional)
STORYBLOK_TOKEN=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=

# Shopify Configuration
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your_storefront_access_token
NEXT_PUBLIC_SHOPIFY_API_VERSION=2024-01

# Analytics (optional)
NEXT_PUBLIC_GA_ID=